html {
	font-size: 16px;
}
body {
	color: var(--g-color-black);
}
.section {
	padding: 50px;
}
#file {
	display: none;
}
.button {
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
	background-color: var(--g-color-1);
	color: var(--g-color-white);
	cursor: pointer;
}
.submit {
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	background-color: var(--g-color-2);
	color: var(--g-color-white);
}
.fa-plus,
.fa-cloud-upload-alt {
	margin-right: 5px;
}
.fa-check-circle,
.fa-times-circle {
	margin-left: 10px;
	opacity: 0;
	animation-name: check-circle;
	animation-fill-mode: forwards;
	animation-duration: .5s;
}
@keyframes check-circle {
	form {
		opacity: 0;
		font-size: 20px;
	}
	to {
		opacity: 1;
		font-size: 30px;
	}
}
.content {
	position: relative;
	display: flex;
	flex-direction: column;
}
.content-load {
	width: 100%;
	height: 200px;
	background-image: url('https://www.kayseriulasim.com/images/loading.gif');
	background-repeat: no-repeat;
	background-position: center;
}
.navigation-pagination {
	position: absolute;
	right: 15px;
}
.uploaded,
.error-upload {
	min-height: 40px;
	position: absolute;
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	left: 15px;
	font-size: 20px;
	font-weight: bold;
}
.uploaded {
	color: var(--g-color-2);
}
.error-upload {
	color: var(--g-color-red);
}
.pagination {
	justify-content: flex-end;
}
.card-footer {
	display: flex;
	justify-content: space-between;
}
.form-rename {
	width: calc(100% - 30px);
	position: absolute;
	z-index: 1;
	display: none;
	background-color: white;
}
.input-rename {
	max-width: 100px;
	border: none;
	letter-spacing: 1px;
	font-family: sans-serif;
}
.input-rename:focus {
	outline: none;
}
.submit-rename {
	padding: 5px;
	font-size: 10px;
	background-color: var(--g-color-grey);
}
.rename {
	background-color: var(--g-color-2);
	color: var(--g-color-white) !important;
	text-decoration: none !important;
	transition: all .2s ease-in-out;
}
.erorr-rename {
	margin-top: -1.2rem;
	font-size: 0.8444rem;
	color: var(--g-color-red);
}
.change-rename {
	margin-top: -1.2rem;
	font-size: 0.8444rem;
	color: var(--g-color-2);
}
.delate {
	background-color: var(--g-color-red);
	color: var(--g-color-white) !important;
	text-decoration: none !important;
	transition: all .2s ease-in-out;
}
.rename:hover,
.delate:hover {
	background-color: var(--g-color-grey);
	color: var(--g-color-white) !important;
}
@media (max-width: 991.888px) {
	html {
		font-size: 14px;
	}
}
@media (max-width: 767.888px) {
	html {
		font-size: 12px;
	}
}
